@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
  --bg: #0d0d1f;
  --fg: #e0e0e0;
  --accent: #39FF14;
  --accent-soft: #00ffe0;
  --accent-gradient: linear-gradient(to right, #9849b2, #00ffe0);
  --glow: 0 0 10px  #39FF14, 0 0 20px #00ffe0, 0 0 40px #9849b2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Share Tech Mono', monospace;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  
  padding: 2rem 1rem;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding: 0 1rem;
}

h1 {
  font-size: 2rem;
  color: var(--accent);
  text-align: center;
  margin-bottom: 2rem;
}
